<div>
  Welcome, <%= @user.first_name%>!
  Your last name is <%= @user.last_name%>!
  Your email is <%= @user.email%>!
  Your PW is <%= @user.password_digest%>!
  Your PW is <%= @user.password%>!
</div>
