<div>
  <p>Welcome, <%= @user.first_name%>!</p>
  <p>Your last name is <%= @user.last_name%>!</p>
  <p>Your email is <%= @user.email%>!</p>
  <p>Your PW is <%= @user.password_digest%>!</p>
  <p>Your PW is <%= @user.password%>!</p>
  <p>
    <%= link_to "see all libraries that I'm a member of", user_libaries_path(@user.id)%>
  </p>
</div>
